<!DOCTYPE html>

<html>
    <head>
        <title>BOOK REVIEW</title>
    </head>
    
    <body>
        <div>
            WELCOME to book review website made in python using Flask , SQL
            <br>
            AUTHOR:ABDUR REHMAN
        </div>

        <form method="get" action="/sign_in">
            <button type="submit">SIGN IN</button>
        </form>

        <form method="get" action="/sign_up">
            <button type="submit">SIGN UP</button>
        </form>
        
    </body>

    <script>
  
    
    </script>
</html>